{% extends 'menu/base.html' %}

{% block title_name %}
Главная страница
{% endblock %}

{% block content %}
<p class="text-justify"><h1>История и традиции турецкой кухни</h1></p>
<img src="https://www.chastniygid.com/images/ekskursii-po-stambulu-04-22/001.jpg" class="img-responsive"> <br>
<p class="text-justify">В качестве самобытной кулинарной традиции турецкая кухня выделилась в период Османской империи.
Она формировалась под влиянием тюркских племён, средиземноморских и кавказских государств, исламской религии, а также Ирана и Индии.
Каждая народность, в разное время населявшая территорию Турции, оказала воздействие на кухню этой страны, превратив её в удивительное сочетание традиций.
Турки славятся своим трепетным отношением к процессу приёма пищи.
Здесь принято есть не торопясь, сопровождая трапезу приятной компанией и беседой.
Перекусывать на ходу в этой стране не принято, а турецкий завтрак перетекает в обед и способен продолжаться больше 4 часов. <br>
<i><b>Основная концепция нашего ресторана — доставить нашим клиентам удовольствие от вкусной турецкой кухни во всём её разнообразии. Где бы мы ни были, мы пытаемся донести до людей атмосферу Стамбула.  <b/><br><i/></p>

{% endblock %}