{% extends 'menu/base.html' %}

{% block title_name %} {{dish.dish_name}}{% endblock%}

{% block content %}
<h1>Холодные закуски</h1> <br>
<h3>Хайдари</h3> <br>
<img src="https://img.iamcook.ru/2018/upl/recipes/cat/u6009-d9adad830f035ef71285f84c4d1cf1fd.jpg" class="img-responsive"> <br> <br>
Описание: Мезе, приготовленный из сюзьме с мятой и оливковым маслом. <br>
Цена: 400 <br> <br> <br>
<h3>Аджылы эзме</h3> <br>
<img src="https://static.tildacdn.com/tild3363-3765-4534-a432-376666383663/_.jpg" class="img-responsive" width="600" height="500"> <br> <br>
Описание: Мезе, приготовленный из свежих помидоров, болгарского перца, репчатого лука.
С добавлением острой паприки, оливкового масла, свежей петрушки и острой перечной пасты. <br>
Цена: 450 <br>

{% endblock %}